$color__primary--slate-blue: #192F3F;
$color__primary--jet-grey: #353535;
$color__primary--myrtle-green: #3C6E71;
$color__primary--gainsboro-grey: #D9D9D9;

$box-shadow-sm: 0px 4px 4px rgba(0,0,0,0.25);
$box-shadow-md: 0px 4px 15px rgba(0,0,0,0.25);
$box-shadow-lg: 0px 6px 20px rgba(0,0,0,0.25);

$bp-sm: 544px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xlg: 1200px;


body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans' helvetica;
    color: #555;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

hr {
    width: 90%;
}

.masthead {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    .fa-bars {
        color: white;
        font-size: 30px;
    }
    .logo {
        background-image: url('../img/affinity-letter.png');
        background-size: cover;
        width: 40px;
        height: 40px;
        margin-top: 5px;
    }
}

.showcase {
    width: 100%;
    height: 100%;
    background-image: url('../img/startup.jpg');
    background-size: cover;
    background-position: right -110px top;
    background-repeat: no-repeat;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color__primary--slate-blue;
        opacity: .9;
    }
    .logo {
        background-image: url('../img/affinity-letter.png');
        background-size: cover;
        width: 175px;
        height: 175px;
        margin: 0 auto;
    }
    .content {
        position: relative;
        color: white;
        margin-top: -80px;
    }
    .title {
        font-size: 65px;
        font-family: 'Poppins';
        font-weight: bold;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .lead {
        font-size: 17px;
        font-style: italic;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }
    .phone, .email {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        color: white;
        font-size: 16px;
        font-weight: 300;
        padding: 8px 14px;
        margin: 0 auto;
        text-align: center;
    }
    .email {
        display: none;
    }
}

.gallery {
    padding: 40px 0 20px 0;
    .title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .image-wrap {
        padding: 14px;
    }
    .image {
        height: 240px;
        box-shadow: $box-shadow-md;
        border-radius: 3px;
    }
    img {
        border-radius: 3px;
    }
}

.feature {
    padding: 70px 0;
    text-align: center;
    .title {
        font-size: 24px;
        font-family: 'Poppins';
        font-weight: bold;
        padding-bottom: 20px;
    }
    .lead {
        font-size: 15px;
        font-weight: 400;
        line-height: 40px;
        padding: 9px;
    }
    .btn {
        background: transparent;
        border: 1px solid #555;
        border-radius: 1px;
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        color: #555;
        font-weight: 500;
        margin-top: 10px;
    }
}

.contact {
    text-align: center;
    padding: 70px 10px 40px 10px;
    text-align: center;
    .content {
        padding-bottom: 40px;
    }
    .title {
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 24px;
    }
    .lead {
        font-size: 15px;
        padding: 10px;
    }
    label {
        font-family: 'Poppins';
        font-size: 13px;
        font-weight: 500;
        display: block;
        text-align: left;
        padding-top: 10px;
    }
    input {
        border: none;
        border-bottom: 1px solid #aaa;
    }
    textarea {
        border: 1px solid #aaa;
        margin-top: 20px;
    }
    .disclaimer {
        font-size: 14px;
        padding-top: 20px;
    }
}

.mastfoot {
    padding-top: 10px;
    .social-icons {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .icon {
        margin: 10px;
        font-size: 25px;
        display: inline-block;
    }
    .disclaimer {
        font-size: 12px;
        font-weight: 400;
        padding-top: 10px;
    }
    .fa-copyright {
        font-size: 12px
    }
}

@media (min-width: $bp-md) {
    .gallery {
        .image {
            height: 400px;
        }
    }
}

@media (min-width: $bp-lg) {
    .masthead {
        .nav-link {
            color: white;
            font-weight: 500;
            &::after {
                content: '/';
                padding-left: 14px;
            }
            &:hover {
                opacity: .8;
            }
        }
    }

    .showcase {
        background-attachment: fixed;
        background-position: center center;
        .logo {
            width: 240px;
            height: 240px;
        }
        .title {
            font-size: 100px;
            letter-spacing: 10px;
        }
        .lead {
            font-size: 22px;
        }
        .phone {
            text-align: right;
            font-weight: 500;
            font-size: 16px;
        }
        .email {
            text-align: left;
            display: block;
            font-weight: 500;
            font-size: 16px;
        }
        
    }

    .gallery {
        .image {
            height: 350px;
        }
    }
}
